* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.background {
  background-color: #000000;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.container-top {
  width: 100vw;
  height: 80%;
  background-size: cover;
}
.second-part {
  background-color: #000000;
  height: cover;
}
